body {
    background-color: #d4d2d1;

}
#skills, #relevant , #education, #experience{
    color: #F97300;
}
button{
    color: #F97300;
}

.card{
    background-image: url("images/keyboard.jpeg"); ;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    background-size: cover;
}

.card-body{
    color: whitesmoke;
}
.card-body a{
    background-color: #F97300;
    border-color: #F97300;

}

#cardClass {
    border-radius: 2% !important;
    float: right;
}

.center{
    color: black;
}
#mainpar{
    color: #F97300;

}
.display-4{
    color: white;
    text-align: center;
}
.display-6{
    color: white;
    text-align: center;
}
label {
 margin-bottom: 8px;
}
input[type=text] {
 background: transparent;
 border: none;
 border-bottom: 1px solid #000000;

}
input[type=password] {
 background: transparent;
 border: none;
 border-bottom: 1px solid #000000;

}
.jumbotron {
 background-image: url("images/gray.jpg");
 background-size: cover;
 height: 300px;
 /*color: #262626 !important;*/
}

.navbar{
    background:#F97300;
}

.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link{
    margin-right: 1em !important;
}

.nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-toggler{
    background:#fff !important;
}
.navbar-collapse{
    justify-content: flex-end;
}